{% extends "index.html.twig" %}

{% block main %}

    <p class="fs-3">
        <a href="{{page.link('index')}}.html#retreats">Back to index</a>
    </p>

    <div class="px-4 py-5 my-5 text-center">
        <p class="display-6">{{site.title}}</p>
        <h1 class="display-5 fw-bold">{{page.metadata.title}}</h1>
        {% if page.metadata.comments is defined and page.metadata.comments %}
            <p class="lead">{{page.metadata.comments}}</p>
        {% endif %}
    </div>

    {% for session in page.metadata.sessions %}
        <h3>
            {{session.title}}
            <small>
                {% if session.transcript %}
                    <a href="{{session.transcript}}">Transcript</a>
                {% else %}
                    <span class="text-muted">(No transcript)</span>
                {% endif %}
            </small>
        </h3>
        <figure>
            <audio controls src="{{session.audio}}" preload="none">
                Your browser does not support the audio player, sorry!
            </audio>
        </figure> 
    {% endfor %}

{% endblock %}
